/* 
  HW2: 1em - why big paddings - ii in % and not em? 
          
  HW3: position logo and text - nail in the middle of navbar - text underneath - done 
  HW4 : add 3rd link in main class - Partners - after services  - done
  */ 

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #111;
}

.navbar-wrapper {
    background: linear-gradient(#333, #444, #333);
}

.navbar {
    display: table;
    width: 90%;
    margin: 0 auto;
}

.navbar .logo, .shop-name {
    display: block;
    position: relative;
    top: 20px;
    
}

.navbar .shop-name {
    left: -15px;
}

.navbar ul {
    display: table-row;
}

.navbar ul li {
    display: table-cell;
    vertical-align: middle;
    /* border: 1px solid white; */
    padding: 0 .5em;
    white-space: nowrap;
}

.navbar ul li.main:nth-child(3) {
    padding-left: 15%; 
}

.navbar ul li.main:nth-child(5) {
    padding-right: 5%; 
}

.navbar ul li.main {
  text-align: right; 
}

.navbar ul li.burger-menu:nth-child(2) {
    display: none;
}

.navbar ul li.contacts {
 text-align: left; 
}

.navbar ul li.contacts:nth-child(6) {
    padding-left: 5%;
}

.navbar ul li.contacts:nth-child(8) {
    padding-right: 15%;
}

.navbar ul li.user {
   text-align: right; 
}

.navbar .brand img {
    height: 3em;
    vertical-align: middle;
    
}

.navbar a {
    text-decoration: none;
    color: white;
}

@media (max-width: 1500px) {
    .navbar ul li.main:nth-child(3) {
        padding-left: 15%; 
    }
    
    .navbar ul li.main:nth-child(5) {
        padding-right: 3%; 
    }

    .navbar ul li.contacts:nth-child(6) {
        padding-left: 3%;
    }
    
    .navbar ul li.contacts:nth-child(8) {
        padding-right: 15%;
    }
}

@media (max-width: 1250px) {
    .navbar ul li.main:nth-child(3) {
        padding-left: 10%; 
    }
    
    .navbar ul li.main:nth-child(5) {
        padding-right: 2%; 
    }

    .navbar ul li.contacts:nth-child(6) {
        padding-left: 2%;
    }
    
    .navbar ul li.contacts:nth-child(8) {
        padding-right: 10%;
    }
}

@media (max-width: 1000px) {
    .navbar ul li.contacts:nth-child(6) .phone-number {
        display: none;
    }
}


@media (max-width: 700px) {
    .navbar ul li.main:nth-child(3) {
        padding-left: 5%; 
    }
    
    
     /* ascundem partners presupunand ca la nivelul dat nu este cea mai importanta parte a meniului */
    .navbar ul li.main:nth-child(5)  {
        display: none;
    }
       /* presupunem ca acest website are cea mai mare rata de raspundere/customer service via fb mesenger de aceea lasam dor link-ul cu fb messenger rapid accesibil la acest nivel de vizualizare, ascundem viber si tel icon */
    .navbar ul li.contacts:nth-child(6)  {
        display: none;
    }

    .navbar ul li.contacts:nth-child(7)  {
        display: none;
    }

    .navbar ul li.contacts:nth-child(8) {
        padding-right: 7%;
    }
}


@media (max-width: 400px) {

    /* la acest width level, lasam vizibil logo-ul ca user-ul sa stie pe ce site se afla, introducem meniul burger prin care se pot accesa toate meniurile ascunse, de asemenea e vizibil cart-ul, si account pentru ca sa poate fi usor accesat */
    .navbar {
        width: 95%;
    }
    
    .navbar ul li.burger-menu:nth-child(2) {
        display: table-cell;
        text-align: right;
        padding-left: 3em;
       
    }

    .navbar ul li.main:nth-child(3) {
        display: none;
    }

    .navbar ul li.main:nth-child(4) {
        display: none;
    }
    
    .navbar ul li.main:nth-child(5)  {
        display: none;
    }
    
    .navbar ul li.contacts:nth-child(6)  {
        display: none;
    }

    .navbar ul li.contacts:nth-child(7)  {
        display: none;
    }

    .navbar ul li.contacts:nth-child(8) {
        display: none;
    }

    .navbar ul li.user:nth-child(9)  {
        padding-left: .10em;
    }

    .navbar ul li.user:nth-child(10) {
        padding-left: .10em;
    }
}

/* adaptive - 400px */